html {
    margin-left:10vw;
    margin-top:5vh;
    margin-right:10vw;
}
.main{
    width:fit-content;
    overflow-wrap: anywhere;
}

.extend {
    margin-left:-10vw;
    margin-top:-5vh;
    margin-right:-10vw
}
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-size: 0.75rem;
    font-variation-settings:
        "wdth" 100;
}

h1 {
    font-weight: bold;
    font-size:1.5rem;
}
h2 {
    font-size:1rem;
}
h3 {
    font-size:0.75rem;
}

.custom-container {
    background-color: #fff;
    border: 1px solid #d8bfd8; /* Thistle */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: block;
}

/* new stuff */
.column {
    flex: 1; /* Make both columns take up equal width */
}

.go-left {
    float:left;
}

.go-right {
    float:right;
}

.majority-third {
    width:60%;
}

.lesser-third {
    width:30%;
}

.small-top-margin {
    margin-top: 1vh;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar .menu {
    display: flex;
    gap: 1rem;
}
.navbar .menu a {
    text-decoration: none;
    color: #333;
}

.toggle-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.collapsible {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    height:4.5vh;
    white-space: nowrap;
}

.search-bar {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.search-bar input {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.quick-links {
    width: 30%;
}
.data-visualization {
    width: 65%;
    height:65vh;
    overflow:hidden;
}
.quick-links ul {
    list-style-type: none;
    padding: 0;
}
.quick-links ul li {
    margin: 0.5rem 0;
}
.data-visualization {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dark-mode {
    background-color: #333;
    color: #f5f5f5;
}
.dark-mode .navbar {
    background-color: #444;
}

.dark-mode .navbar .menu a {
    color: #f5f5f5;
}

.dark-mode footer {
    background-color: #444;
}

.dark-mode footer p {
    color: #f5f5f5;
}

.dark-mode .table-of-content-container {
    background-color:#444;
}

.dark-mode .data-visualization {
    background-color: #444;
}
.vertical-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.nav-item {
    background-color: white;
    color: #333;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.nav-item span {
    display: none;
    z-index: 10;
}
.nav-item:hover {
    background-color: #ccc;
    transform: scale(1.1);
    z-index: 10;
}
.nav-item:hover span {
    display: inline;
    position: absolute;
    transform: translate(3vw, 1vh);
}
.nav-item.selected {
    background-color: #666;
    transform: scale(1.1);
}
img {
    object-fit: cover;
    width: 30vw;
    height: 30vh;
    border-radius: 5px;
}
.vertical-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #333; */
    /* padding: 20px; */
    border-radius: 10px;
    position: relative;
}

.spacer {
    margin:5vh;
}

.table-of-content-container {
    width:25vw;
    overflow: hidden;
    position: fixed;
    display: none;

    white-space: nowrap;
    overflow-y:scroll;

    background-color: white;
    height:100vh;
    /* z-index:-1; */
    top:0;
    left:0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    anchor-name: --toc;
}
.fixed-button {
    position: fixed;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    transform:translate(17vw,5vh);
}


.hide-toc{
    display:None
}

.show-toc{
    display:contents
}

.table-of-content {
    margin-left:3vw;
    overflow-y:auto;
    z-index:1000;
}

.scrollingElem {
    margin-top:12vh
}
.table-of-content ul {
    /* removes the bullet points in list items */
    list-style-type: none;
    /* list item marker is placed within the content area of the list item */
    list-style-position: inside;
    padding-left: 20px;
    margin-bottom: 12px;
    
}

.menu-sub-heading {
/* styles for sub-heading inside our menu */
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 12px;
}

.sub-menu li {
    margin-bottom: 16px;
}

.dark-mode a{
    color:#ccc;
}

#searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10vw;
    padding:10vw;
}

#searchContainer {
    display: contents;
    align-items: center;
    margin-bottom: 20px;
}
#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
}
#searchButton {
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#searchButton:hover {
    background-color: #ccc;
}

.headerline {
    display:inline;
}
